# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Logs
logs/
*.log

# Directorios de producción
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos temporales
*.tmp
*.temp

# Otros
coverage/
